doctype html
html
  head
    title Loan
    link(rel='stylesheet', href='../stylesheets/style.css')
  nav
    ul
      li
        a(href='/books/all') Book
      li
        a(href='/patrons/all') Patron
      li
        a(href='/loans/all') Loan
  body
    h1 Loan
    p
      a.button(href='/loans/new') Create New Loan
    p
      | Filters 
      a(href='/loans/all') All
      |  
      a(href='/loans/overdue_loan') Overdue
      |  
      a(href='/loans/checked_loan') Checked Out
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
       each loan in loans
        tr
          td
            a(href='/books/details/'+ loan.book_id)= loan.Book.title
          td
            a(href='/patrons/details/'+ loan.patron_id)= loan.Patron.first_name + " " + loan.Patron.last_name
            
          td= loan.loaned_on.toString().slice(0,15)
          td= loan.return_by.toString().slice(0,15)
          if loan.returned_on 
           td= loan.returned_on.toString().slice(0,15)
          else 
           td 
          td
           if !loan.returned_on
            a.button(href='/books/returned/' + loan.id) Return Book
        
